In [1]:
# Section: Load Transformed Data
# Description: This script loads the transformed CSV files into a SQLite database.      
import pandas as pd
import sqlite3
from pathlib import Path

# Set up output directory
output_dir = Path("loaded_data")
output_dir.mkdir(exist_ok=True)

# Load transformed CSVs
df_full = pd.read_csv("transformed_full.csv", parse_dates=["start_time", "end_time"])
df_incremental = pd.read_csv("transformed_incremental.csv", parse_dates=["start_time", "end_time"])

In [2]:
# Load full transformed data into SQLite database
conn_full = sqlite3.connect(output_dir / "full_data.db")
df_full.to_sql("full_data", conn_full, if_exists="replace", index=False)
conn_full.close()

In [3]:
# Load Incremental transformed data into SQLite database
conn_inc = sqlite3.connect(output_dir / "incremental_data.db")
df_incremental.to_sql("incremental_data", conn_inc, if_exists="replace", index=False)
conn_inc.close()

In [4]:
# Display a sample of the loaded data
conn_full = sqlite3.connect(output_dir / "full_data.db")
print("Full Data Sample:")
display(pd.read_sql("SELECT * FROM full_data LIMIT 5", conn_full))
conn_full.close()

Full Data Sample:

,session_id,user_id,device_type,start_time,end_time,session_duration_minutes
0,175-WEB,USER_10,mobile,2025-05-03 18:24:00,2025-05-03 18:44:00,20.0
1,840-LOG,USER_18,desktop,2025-05-25 09:02:00,2025-05-25 09:26:00,24.0
2,089-USR,USER_14,tablet,2025-05-18 18:03:00,2025-05-18 18:58:00,55.0
3,931-APP,USER_4,mobile,2025-05-25 08:53:00,2025-05-25 10:32:00,99.0
4,109-LOG,USER_1,mobile,2025-05-22 02:21:00,2025-05-22 03:22:00,61.0